In [260]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
sns.set_theme()

# optimization
from scipy import optimize

# For quick OLS
#import statsmodels.formula.api as smf

# Import our toolbox
import clogit as clogit
import estimation as est

# Read in data

The dataset, `cars.csv`, contains cleaned and processed data. If you want to make changes, the notebook, `materialize.ipynb`, creates the data from the raw source datsets.

In [261]:
cars = pd.read_csv('cars.csv')
lbl_vars = pd.read_csv('labels_variables.csv')
lbl_vals = pd.read_csv('labels_values.csv')

# convert from dataframe to dict
lbl_vals = {c: lbl_vals[c].dropna().to_dict() for c in lbl_vals.columns}

In [262]:
lbl_vars.set_index('variable', inplace=True)

## Overview of the dataset

In [263]:
lbl_vars.join(cars.mean(numeric_only=True).apply(lambda x: f'{x: .2f}').to_frame('Mean'))

,label,Mean
variable,,
ye,year (=first dimension of panel),84.50
ma,market (=second dimension of panel),3.00
co,model code (=third dimension of panel),207.50
zcode,alternative model code (predecessors and succe...,177.76
brd,brand code,16.79
type,name of brand and model,NaN
brand,name of brand,NaN
model,name of model,NaN
org,"origin code (demand side, country with which c...",2.72
loc,"location code (production side, country where ...",5.17
cla,class or segment code,2.30
home,domestic car dummy (appropriate interaction of...,0.32
frm,firm code,14.50
qu,sales (number of new car registrations),35606.68
cy,cylinder volume or displacement (in cc),1337.09
hp,horsepower (in kW),50.10
we,weight (in kg),934.49
pl,"places (number, not reliable variable)",4.88
do,"doors (number, not reliable variable)",3.55
le,length (in cm),409.24
wi,width (in cm),163.44
he,height (in cm),140.46
li1,"measure 1 for fuel efficiency (liter per km, a...",6.59
li2,"measure 2 for fuel efficiency (liter per km, a...",8.11
li3,"measure 3 for fuel efficiency (liter per km, a...",8.92
li,"average of li1, li2, li3 (used in papers)",7.87
sp,maximum speed (km/hour),154.22
ac,time to acceleration (in seconds from 0 to 100...,16.27
pr,price (in destination currency including V.A.T.),2608988.58
princ,=pr/(ngdp/pop): price relative to per capita i...,0.76
eurpr,=pr/avdexr: price in common currency (in SDR t...,7256.92
exppr,=pr/avexr: price in exporter currency,600384.65
avexr,av. exchange rate of exporter country (exporte...,229.30
avdexr,av. exchange rate of destination country (dest...,319.91
avcpr,av. consumer price index of exporter country,492.53
avppr,av. producer price index of exporter country,671.77
avdcpr,av. consumer price index of destination country,77.02
avdppr,av. producer price index of destination country,87.69
xexr,avdexr/avexr,66.32
tax,percentage VAT,0.21
pop,population,49183800.00
ngdp,nominal gross domestic product of destination ...,178667304825541.97
rgdp,real gross domestic product,216716720230172.44
engdp,=ngdp/avdexr: nominal gdp in common currency (...,504371708122.45
ergdp,=rgdp/avexr,659002565347.56
engdpc,=engdp/pop: nominal gdp per capita in common c...,10015.84
ergdpc,=ergdp/pop,13264.84
s,market share (qu / qu_tot),0.02
qu_tot,total sales in this market-year,1424267.29
inc,avg. income per capita,26829.74

In [265]:
cars['s'].nunique()

5986

# Set up for analysis

In [266]:
price_var = 'princ'

In [267]:
cars['logp'] = np.log(cars[price_var])

In [268]:
# new variable: price elasticity heterogeneous for home-region 
cars['logp_x_home'] = cars[price_var] * cars['home']

### Dummy variables

For working with matrices, we want to have a column for each dummy variable.

In [269]:
categorical_var = 'brand' # name of categorical variable
dummies = pd.get_dummies(cars[categorical_var]) # creates a matrix of dummies for each value of dummyvar
x_vars_dummies = list(dummies.columns[1:].values) # omit a reference category, here it is the first (hence columns[1:])

# add dummies to the dataframe 
assert dummies.columns[0] not in cars.columns, f'It looks like you have already added this dummy to the dataframe. Avoid duplicates! '
cars = pd.concat([cars,dummies], axis=1)

In [439]:
# NB! Let's take a look at the reference category
dummies.columns[0] #This is BMW
# Something might be going on

'BMW'

### `x_vars`: List of regressors to be used

In [533]:
x_vars = ['logp', 'home', 'cy', 'hp', 'we', 'li'] + ['tax', 'pop', 'inc'] #+ x_vars_dummies 
# If we include dummies for the brand, the 3-D matrix x becomes singular. Why?
# 
print(f'K = {len(x_vars)} variables selected.')

K = 9 variables selected.

In [534]:
cars = cars.dropna(axis=1)

In [535]:
cars['brand'].nunique() #Different car brands

33

In [536]:
cars['co'].nunique() #Different car models

285

In [537]:
M = 30
T = 5
N = M*T
J = 40

In [538]:
K = len(x_vars) #The "household" characteristics
N = cars.ma.nunique() * cars.ye.nunique() #The market-year 'i'
J = 40 #The 40 different cars
x = cars[x_vars].values.reshape((N,J,K))

#cars['y'] = np.resize(np.arange(0, M*T), N*J)
#y = cars['y'].values.reshape((N,J))

#cars['y'] = pd.factorize(cars['co'].values)[0]
#y = pd.factorize(cars['co'].values)[0]
#y = y.reshape((N,J))

cars['y'] = np.resize(np.arange(0,J), N*J)
y = cars['y'].values.reshape((N,J))

#cars['brand']=pd.factorize(cars['brand'])[0]
#y = cars['co'].values.reshape((N,J))
#cars['co']=pd.factorize(cars['co'])[0]

In [539]:
np.unique(y)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39])

In [540]:
y.shape

(150, 40)

In [541]:
y[1,:]

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39])

In [517]:
test = cars[(cars['ma']==1) & (cars['ye']==70)]

In [518]:
test

,ye,ma,co,zcode,brd,type,brand,model,org,loc,...,skoda,suzuki,tal/hillman,tal/matra,tal/simca,tal/sunb,talbot,toyota,volvo,y
0,70,1,15,14,2,audi 100/200,audi,100/200,2,4,...,0,0,0,0,0,0,0,0,0,0
1,70,1,26,35,4,citroen 2 CV 6 - 2 CV 4,citroen,2CV6,1,3,...,0,0,0,0,0,0,0,0,0,1
2,70,1,36,36,4,citroen dyane,citroen,dyane,1,3,...,0,0,0,0,0,0,0,0,0,2
3,70,1,64,67,7,fiat 128,fiat,128,3,5,...,0,0,0,0,0,0,0,0,0,3
4,70,1,71,80,8,ford escort,ford,escort,2,4,...,0,0,0,0,0,0,0,0,0,4
5,70,1,134,159,16,mercedes 200-300,mercedes,200,2,4,...,0,0,0,0,0,0,0,0,0,5
6,70,1,165,197,19,opel kadett,opel,kadet,2,4,...,0,0,0,0,0,0,0,0,0,6
7,70,1,172,194,19,opel rekord,opel,record,2,4,...,0,0,0,0,0,0,0,0,0,7
8,70,1,186,202,20,peugeot 504,peugeot,504,1,3,...,0,0,0,0,0,0,0,0,0,8
9,70,1,187,207,20,peugeot 304,peugeot,304,1,3,...,0,0,0,0,0,0,0,0,0,9
10,70,1,196,227,22,renault 4,renault,4,1,3,...,0,0,0,0,0,0,0,0,0,10
11,70,1,212,337,22,renault 16,renault,16,1,3,...,0,0,0,0,0,0,0,0,0,11
12,70,1,213,338,22,renault 6,renault,6,1,3,...,0,0,0,0,0,0,0,0,0,12
13,70,1,214,319,22,renault 12,renault,12,1,3,...,0,0,0,0,0,0,0,0,0,13
14,70,1,217,242,36,rover mini,rover,mini,7,12,...,0,0,0,0,0,0,0,0,0,14
15,70,1,269,284,29,toyota corolla,toyota,corolla,4,6,...,0,0,0,0,0,0,0,1,0,15
16,70,1,291,305,30,"volkswagen coccinelle-beetle,1200",VW,kaefer,6,4,...,0,0,0,0,0,0,0,0,0,16
17,70,1,406,15,2,audi 60-75,audi,60-75,2,4,...,0,0,0,0,0,0,0,0,0,17
18,70,1,407,360,2,audi prinz 1000-1200,audi,prinz1000,2,4,...,0,0,0,0,0,0,0,0,0,18
19,70,1,410,363,3,BMW 1502-1600-1602-1802,BMW,1502,2,4,...,0,0,0,0,0,0,0,0,0,19
20,70,1,412,17,3,BMW 2002,BMW,2002,2,4,...,0,0,0,0,0,0,0,0,0,20
21,70,1,417,31,4,citroen ami,citroen,ami,1,3,...,0,0,0,0,0,0,0,0,0,21
22,70,1,418,366,4,citroen d-ds 20,citroen,d-ds 20,1,3,...,0,0,0,0,0,0,0,0,0,22
23,70,1,422,370,40,daf 33,daf,33,8,8,...,0,0,0,0,0,0,0,0,0,23
24,70,1,429,375,7,fiat 124,fiat,124,3,5,...,0,0,0,0,0,0,0,0,0,24
25,70,1,430,375,7,fiat 124 spec/sport,fiat,124 S,3,5,...,0,0,0,0,0,0,0,0,0,25
26,70,1,431,376,7,fiat 125-125S,fiat,125,3,5,...,0,0,0,0,0,0,0,0,0,26
27,70,1,435,379,7,fiat 850,fiat,850,3,5,...,0,0,0,0,0,0,0,0,0,27
28,70,1,437,79,8,ford 12-15M,ford,12-15M,2,4,...,0,0,0,0,0,0,0,0,0,28
29,70,1,439,78,8,ford 20-26M,ford,20-26M,2,4,...,0,0,0,0,0,0,0,0,0,29
30,70,1,468,187,18,nissan/datsun 1000,nissan,1000,4,6,...,0,0,0,0,0,0,0,0,0,30
31,70,1,488,418,19,opel/vxhall viva/firenze/magnum,opel,viva,2,12,...,0,0,0,0,0,0,0,0,0,31
32,70,1,490,420,20,peugeot 204,peugeot,204,1,3,...,0,0,0,0,0,0,0,0,0,32
33,70,1,491,421,20,peugeot 404,peugeot,404,1,3,...,0,0,0,0,0,0,0,0,0,33
34,70,1,497,426,22,renault 8-10,renault,8-10,1,3,...,0,0,0,0,0,0,0,0,0,34
35,70,1,521,446,46,talbot/simca 1000,tal/simca,1000,1,3,...,0,0,0,0,1,0,0,0,0,35
36,70,1,524,448,46,talbot/simca 1301-1501,tal/simca,1301,1,3,...,0,0,0,0,1,0,0,0,0,36
37,70,1,536,301,30,volkswagen berl/1600,VW,berline,6,4,...,0,0,0,0,0,0,0,0,0,37
38,70,1,541,293,31,volvo 140,volvo,140,6,11,...,0,0,0,0,0,0,0,0,1,38
39,70,1,544,386,8,ford 17M,ford,17M,2,4,...,0,0,0,0,0,0,0,0,0,39

In [542]:
test['y'].nunique()

40

In [543]:
test['s'].sum()

0.9999999999999979

$$
u_{i j h}=\mathbf{x}_{i j} \boldsymbol{\beta}_o+\varepsilon_{i j h}, \quad j=1, \ldots, J
$$

where: 

- $i$ is the $\textit{country-year}$ pair
- $j$ is the alternative car
- $h$ is the household

First off: Are we: 

    1. interested in the marginal utility of a car's characteristic (conditional logit) or 
    
    2. the change in utility of car $j$ relative to car 1 given a change in household characteristics?

In this assignment, we are examning home bias - that is the propensity to choose a car manufactured in the home country. We are therefore interested in 1) and will use a conditional logit model.

In [544]:
x.shape

(150, 40, 9)

In [545]:
# The starting values to be passed to our optimizer
theta_start = clogit.starting_values(y, x)
theta_start.shape

(9,)

In [546]:
u = clogit.util(theta_start, x)
u.shape

(150, 40)

In [547]:
# Our conditional choice probabilities
# For coefficients ('theta') starting at zero, these must be equal to zero
# Intuition: No utility is gained by any car characteristics, thus market shares must be equal. Let's check this.
ccp = clogit.choice_prob(theta_start, x)
(ccp == 1/J) # all choice probs are equal to each other.

array([[ True,  True,  True, ...,  True,  True,  True],
       [ True,  True,  True, ...,  True,  True,  True],
       [ True,  True,  True, ...,  True,  True,  True],
       ...,
       [ True,  True,  True, ...,  True,  True,  True],
       [ True,  True,  True, ...,  True,  True,  True],
       [ True,  True,  True, ...,  True,  True,  True]])

In [548]:
# In the first market-year, what are the choice-probs? (Given individuals place no weight on any car characteristics)
ccp.sum(axis=1)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [549]:
print(ccp.shape)
np.unique(ccp) #Why do we have NaN?

(150, 40)

array([0.025])

In [551]:
print(theta_start.shape, y.shape, x.shape)

(9,) (150, 40) (150, 40, 9)

In [552]:
np.linalg.matrix_rank(x) # something is not right when you include the car-brand dummies -> rank-condition is not fulfilled -> matrix becomes singular
# Reference category is 'BMW'
# Could be that none of the top 40 cars sold in a given year and market is home-made and/or that they are BMW's -> column(s) becomes zero.

array([6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
       6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7,
       7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7,
       7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7,
       7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7,
       7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7,
       7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7], dtype=int64)

In [553]:
pd.DataFrame(x[0])

,0,1,2,3,4,5,6,7,8
0,0.122399,0.0,1760.0,59.0,1050.0,8.900000,0.25,9660000.0,20363.7252
1,-0.794100,0.0,435.0,17.5,560.0,5.500000,0.25,9660000.0,20363.7252
2,-0.713977,0.0,435.0,19.0,590.0,5.500000,0.25,9660000.0,20363.7252
3,-0.417193,0.0,1116.0,40.5,785.0,8.000000,0.25,9660000.0,20363.7252
4,-0.491411,0.0,1098.0,29.5,825.0,8.200000,0.25,9660000.0,20363.7252
5,0.459705,0.0,1988.0,70.0,1330.0,10.900000,0.25,9660000.0,20363.7252
6,-0.461060,0.0,1078.0,33.0,745.0,8.766666,0.25,9660000.0,20363.7252
7,-0.165561,0.0,1492.0,29.5,1025.0,10.500000,0.25,9660000.0,20363.7252
8,0.143035,0.0,1796.0,56.0,1200.0,11.600000,0.25,9660000.0,20363.7252
9,-0.078272,0.0,1288.0,43.0,915.0,10.100000,0.25,9660000.0,20363.7252
10,-0.754238,0.0,845.0,20.0,650.0,5.833333,0.25,9660000.0,20363.7252
11,-0.165561,0.0,1470.0,40.5,980.0,10.000000,0.25,9660000.0,20363.7252
12,-0.491411,0.0,845.0,25.0,750.0,7.000000,0.25,9660000.0,20363.7252
13,-0.283483,0.0,1289.0,39.5,880.0,8.250000,0.25,9660000.0,20363.7252
14,-0.571583,0.0,848.0,25.5,634.0,7.500000,0.25,9660000.0,20363.7252
15,-0.417193,0.0,1077.0,50.0,720.0,8.100000,0.25,9660000.0,20363.7252
16,-0.571583,0.0,1192.0,25.0,760.0,7.500000,0.25,9660000.0,20363.7252
17,-0.143558,0.0,1496.0,40.5,945.0,8.700000,0.25,9660000.0,20363.7252
18,0.045271,0.0,996.0,29.5,660.0,7.800000,0.25,9660000.0,20363.7252
19,0.036221,0.0,1573.0,62.5,930.0,9.900000,0.25,9660000.0,20363.7252
20,0.156023,0.0,1990.0,73.5,940.0,10.000000,0.25,9660000.0,20363.7252
21,-0.483737,0.0,602.0,23.5,725.0,6.400000,0.25,9660000.0,20363.7252
22,0.071062,0.0,1985.0,67.0,1260.0,10.400000,0.25,9660000.0,20363.7252
23,-0.630018,0.0,746.0,20.5,660.0,6.833333,0.25,9660000.0,20363.7252
24,-0.283483,0.0,1197.0,44.0,885.0,8.900000,0.25,9660000.0,20363.7252
25,-0.165561,0.0,1438.0,51.5,925.0,8.800000,0.25,9660000.0,20363.7252
26,-0.030501,0.0,1608.0,66.0,1030.0,9.900000,0.25,9660000.0,20363.7252
27,-0.640695,0.0,843.0,25.0,670.0,6.300000,0.25,9660000.0,20363.7252
28,-0.375170,0.0,1305.0,37.0,870.0,7.800000,0.25,9660000.0,20363.7252
29,0.044370,0.0,1998.0,66.0,1095.0,9.200000,0.25,9660000.0,20363.7252
30,-0.380672,0.0,988.0,41.0,645.0,8.200000,0.25,9660000.0,20363.7252
31,-0.461060,0.0,1159.0,42.0,795.0,7.600000,0.25,9660000.0,20363.7252
32,-0.238216,0.0,1130.0,36.0,865.0,7.666667,0.25,9660000.0,20363.7252
33,-0.023722,0.0,1618.0,50.5,1090.0,10.500000,0.25,9660000.0,20363.7252
34,-0.522713,0.0,1108.0,31.5,765.0,7.000000,0.25,9660000.0,20363.7252
35,-0.622964,0.0,944.0,32.5,775.0,7.000000,0.25,9660000.0,20363.7252
36,-0.246624,0.0,1290.0,34.0,1000.0,8.500000,0.25,9660000.0,20363.7252
37,-0.188059,0.0,1493.0,33.0,1010.0,8.400000,0.25,9660000.0,20363.7252
38,0.203275,0.0,1980.0,60.5,1180.0,11.500000,0.25,9660000.0,20363.7252
39,-0.143558,0.0,1498.0,44.0,1050.0,9.500000,0.25,9660000.0,20363.7252

In [554]:
test2 = pd.DataFrame(x[50])
test2.columns=x_vars
test2

        logp  home      cy     hp      we   li   tax         pop         inc
0  -0.438650   0.0  1300.0   63.0   940.0  7.8  0.25  56730000.0  29513.0262
1  -0.226922   0.0  1800.0   66.0  1050.0  7.6  0.25  56730000.0  29513.0262
2  -0.143563   0.0  1600.0   75.0  1080.0  8.5  0.25  56730000.0  29513.0262
3   0.407682   0.0  2000.0  110.0  1425.0  9.8  0.25  56730000.0  29513.0262
4  -0.891653   1.0  1000.0   33.0   640.0  5.0  0.25  56730000.0  29513.0262
5  -0.473815   1.0  1400.0   53.0   900.0  6.9  0.25  56730000.0  29513.0262
6   0.053274   1.0  2000.0   85.0  1280.0  8.3  0.25  56730000.0  29513.0262
7  -1.134503   0.0   750.0   25.0   700.0  5.6  0.25  56730000.0  29513.0262
8  -0.986177   0.0   900.0   33.0   740.0  6.2  0.25  56730000.0  29513.0262
9  -0.582270   0.0  1400.0   53.0   945.0  7.1  0.25  56730000.0  29513.0262
10 -0.541012   0.0  1400.0   57.0  1030.0  7.3  0.25  56730000.0  29513.0262
11 -0.832694   0.0  1000.0   40.0   785.0  5.8  0.25  56730000.0  29513.0262
12 -0.437299   0.0  1300.0   66.0   875.0  6.8  0.25  56730000.0  29513.0262
13 -0.437299   0.0  1300.0   55.0   880.0  6.3  0.25  56730000.0  29513.0262
14 -0.387289   0.0  1600.0   55.0  1040.0  8.2  0.25  56730000.0  29513.0262
15 -0.622215   0.0  1300.0   56.0   910.0  7.0  0.25  56730000.0  29513.0262
16  0.216627   0.0  2000.0   77.0  1160.0  8.7  0.25  56730000.0  29513.0262
17  0.416973   0.0  1997.0   87.0  1320.0  8.6  0.25  56730000.0  29513.0262
18 -0.875689   0.0  1000.0   37.0   700.0  6.0  0.25  56730000.0  29513.0262
19 -0.518805   0.0  1300.0   59.0   890.0  8.5  0.25  56730000.0  29513.0262
20 -0.973870   0.0  1000.0   33.0   740.0  6.2  0.25  56730000.0  29513.0262
21 -0.680205   0.0  1200.0   40.0   865.0  6.7  0.25  56730000.0  29513.0262
22 -0.360938   0.0  1400.0   55.0   990.0  6.8  0.25  56730000.0  29513.0262
23 -0.863008   1.0  1000.0   32.0   760.0  5.9  0.25  56730000.0  29513.0262
24 -0.673688   1.0  1100.0   44.0   835.0  6.0  0.25  56730000.0  29513.0262
25 -0.425227   1.0  1400.0   51.0   970.0  6.9  0.25  56730000.0  29513.0262
26  0.049267   1.0  2000.0   84.0  1295.0  8.3  0.25  56730000.0  29513.0262
27 -0.990861   1.0  1000.0   25.0   695.0  6.5  0.25  56730000.0  29513.0262
28 -0.867356   1.0  1100.0   35.0   715.0  5.5  0.25  56730000.0  29513.0262
29 -0.488521   1.0  1200.0   59.0   920.0  6.4  0.25  56730000.0  29513.0262
30 -0.396315   1.0  1700.0   56.0   970.0  7.0  0.25  56730000.0  29513.0262
31  0.001347   1.0  2000.0   76.0  1145.0  7.3  0.25  56730000.0  29513.0262
32 -1.017021   0.0  1000.0   30.0   625.0  5.9  0.25  56730000.0  29513.0262
33 -1.079153   0.0  1000.0   34.5   750.0  6.0  0.25  56730000.0  29513.0262
34 -0.391147   0.0  1400.0   70.0  1030.0  6.9  0.25  56730000.0  29513.0262
35 -1.156422   0.0   900.0   29.0   680.0  6.4  0.25  56730000.0  29513.0262
36 -0.884093   0.0  1200.0   46.0   890.0  6.8  0.25  56730000.0  29513.0262
37 -1.006236   0.0  1000.0   33.0   730.0  7.2  0.25  56730000.0  29513.0262
38 -0.691800   0.0  1300.0   40.0   855.0  7.6  0.25  56730000.0  29513.0262
39 -0.337216   0.0  1600.0   53.0  1100.0  7.9  0.25  56730000.0  29513.0262

In [556]:
res = est.estimate(clogit.q, theta_start, y[:, 0], x)

Optimization terminated successfully.
         Current function value: 3.192185
         Iterations: 21
         Function evaluations: 270
         Gradient evaluations: 27

In [557]:
res['theta']

array([ 6.42855096e+00,  1.21097154e-01,  2.04601799e-04,  8.99830539e-03,
       -8.71445571e-03, -3.25885047e-01, -1.20239951e-06, -1.85070248e-07,
        0.00000000e+00])

In [558]:
theta_res = res['theta']

ccp_res = clogit.choice_prob(theta_res, x)

In [559]:
ccp_res

array([[0.03042623, 0.00955542, 0.01248148, ..., 0.00516778, 0.00748987,
        0.00374895],
       [0.0280647 , 0.04121252, 0.03539991, ..., 0.02544964, 0.01216756,
        0.00995351],
       [0.07507805, 0.02401308, 0.02165588, ..., 0.01201194, 0.02049831,
        0.00643405],
       ...,
       [0.01987101, 0.0575612 , 0.03038645, ..., 0.02091369, 0.00750684,
        0.00701568],
       [0.02411644, 0.06776901, 0.01009842, ..., 0.00275334, 0.00756803,
        0.01486795],
       [0.0339414 , 0.09698301, 0.00933931, ..., 0.01292417, 0.02049899,
        0.01357216]])

In [560]:
ccp.shape

(150, 40)

In [588]:
market_share = cars['s'].values.reshape((N,J))
market_share

array([[0.01129646, 0.01464355, 0.02803195, ..., 0.02091936, 0.03233297,
        0.02175614],
       [0.01889573, 0.01742654, 0.02658294, ..., 0.01223223, 0.03081517,
        0.02623697],
       [0.00814136, 0.02169082, 0.01692497, ..., 0.0149763 , 0.01093299,
        0.02895637],
       ...,
       [0.02337781, 0.00867737, 0.00884787, ..., 0.01159728, 0.01712509,
        0.00843496],
       [0.0212737 , 0.01036163, 0.00758375, ..., 0.00859487, 0.02086731,
        0.01445988],
       [0.02890046, 0.00973071, 0.02472666, ..., 0.03594627, 0.01344469,
        0.01046751]])

In [589]:
market_share.shape

(150, 40)

In [591]:
ccp_res.shape

(150, 40)

In [604]:
log_lik_cont = market_share.T @ np.log(ccp)

In [605]:
log_lik_cont

array([[-10.85122272, -10.85122272, -10.85122272, ..., -10.85122272,
        -10.85122272, -10.85122272],
       [-11.04756788, -11.04756788, -11.04756788, ..., -11.04756788,
        -11.04756788, -11.04756788],
       [-12.12996443, -12.12996443, -12.12996443, ..., -12.12996443,
        -12.12996443, -12.12996443],
       ...,
       [-15.0850272 , -15.0850272 , -15.0850272 , ..., -15.0850272 ,
        -15.0850272 , -15.0850272 ],
       [ -9.81304041,  -9.81304041,  -9.81304041, ...,  -9.81304041,
         -9.81304041,  -9.81304041],
       [ -9.02836995,  -9.02836995,  -9.02836995, ...,  -9.02836995,
         -9.02836995,  -9.02836995]])

In [606]:
beta_hat = np.argmin(-1/N*log_lik_cont, axis=1)

In [607]:
beta_hat.shape

(40,)

In [608]:
beta_hat

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)